@media (max-width: 760px) {
    .open {
        width: 0px;
        max-height: 0px;
        overflow: auto;
        display: none;
    }

    .header .top nav button {
        display: block;
        border: none;
        width: 3.6rem;
        height: 3.6rem;
        cursor: pointer;
        background-color: transparent;
    }
    .header .top nav button img {
        width: 3.6rem;
        height: 3.6rem;
    }
    .header .top nav {
        position: relative;
    }
    .header .top nav ul {
        position: absolute;
        right: 0;
        /* padding-top: 2rem; */
        width: 20rem;
        /* background-color: #94c4db; */
        background: rgb(148,196,219);
        background: radial-gradient(circle, rgba(148,196,219,1) 0%, rgba(189,226,244,1) 100%);
        border-radius: 12px 0 12px 12px;
        flex-direction: column;
        box-shadow: 0 .1rem .3rem rgba(51, 51, 0, 0.1);
        cursor: pointer;
        margin-bottom: 15px;
        z-index: 99;
    }
    .header .top nav ul li {
        padding: 8px 0px;
        
    }
    .header .top nav ul li a {
        padding-bottom: 0px;
    }
    .header .top nav ul li a:first-child {
        margin-top: 0rem;
    }


    .racao {
        order:0;
    }
    .racao img {
        /* left: 0; */
        position: static;
        width: clamp(21rem, 40vw, 35rem);
        padding: 2rem 0;
    }
    .racao-titulo {
        display: flex;
    }
    .container-titulo {
        margin-left: 0;
    }
    .container-titulo .titulo {
        font-size: clamp(2.4rem, 5vw, 3.6rem);
        padding-bottom: 1rem;
    }
    .container-titulo .conteudo-balao img{
        /* margin-left: 0; */
        width: clamp(27rem, 70vw, 56rem);
    }
    .container-titulo .conteudo-balao h2{
        right: 35%;
        font-size: clamp(2.4rem, 6vw, 4.8rem);
    }
    
    .dog-hero{
        /* margin-left: 30%; */
        order: 3;
    }
    .dog-hero img{
        width: clamp(22rem, 70vw, 47rem);
    }


    .container .our-story {
        padding:0 0 9rem 0
    }
    .container .our-story .story-conteudo{
        flex-direction: column;
        padding-left: 20%;
    }
    .container .our-story .story-conteudo .text-image {
        justify-content: space-around;
    }
    .container .our-story .story-conteudo .text-image > div {
        max-width: 100%;
        padding-right: 0;
    }

    .container .our-story .cao-deitado {
        top: 50%;
    }




    .footer .conteudo-footer .container-social{
        flex-direction: column;
    }
    .footer .conteudo-footer .container-social .social {
        order: 0;
    }

} 
@media (max-width: 425px) {
    .container .our-story .story-conteudo {
        padding-left: 2rem;
    }
    .container .our-story .story-conteudo .text-image{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container .our-story .story-conteudo .text-image  div {
        padding-bottom: 2rem;
    }
    .container .our-story .story-conteudo .text-image div:last-child {
        align-self: flex-end;
        padding-right: 2rem;
    }
    .container .our-story .cao-deitado {
        top: 60%;
    }


    .container .breeds-getting {
        flex-direction: column;
        align-items: flex-start;
        padding: 3rem 0;
    }
    .container .breeds-getting .standing-dog {
        right: 1rem;
    }
    .container .breeds-getting .getting-dog {
        padding: 4rem 0 4rem 2rem ;
    }

    .balloon .balao-footer{
        transform: rotate(-20deg) translateX(-10rem) translateY(-5rem);
    }
    .balloon .balao-footer .logo {
        transform: translateY(-50%) translateX(0rem) rotate(20deg);
    }
}

@media (min-width: 1550px) {
    .hero {
        flex-wrap: nowrap;
    }
}