* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

:root{
    --color-1: #452a31;
    --color-2: #2ea2d0;
    --color-3: #0072a8;
    --color-4: #000000;
    --color-5: #ffffff;

    --font-1: 'Montserrat', sans-serif;
    --font-2: 'Amatic SC', 'cursive';
}
body {
    font-size: 1.5rem;
}
.header {
    background-image: url(../imagens/background-header.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header .top {
    display: flex;
    justify-content: space-between;

}


.hero {
    display: flex;
}

.container-titulo .conteudo-balao {
    position: relative;
}
.container-titulo .conteudo-balao h2 {
    position: absolute;
    top: 40%;
    right: 50%;
    transform: rotateZ(-15deg);
    font-size: 3.6rem;
    
}